//
   Created by Lenovo on 2018/3/5.

doctype
html
    head
        meta(charset="utf-8")
        title #{title}
        script(src="/bootstrap_common.js")
        script(src="/common.js")
        link(href="/css/index.css" rel="stylesheet")
    body
        block content