//
   Created by Lenovo on 2018/5/20.
extends ../layout

block content
    include ../Public/header
    section.banner
        img(src="images/www/banner.jpg" alt="幻灯").img-responsive
    // 职业技能
    section.skills
        div.container
            div.title.text-center
                h2 职业·技能
                p.sub-title My Technical Skills
            div.skills-content
                div.skills-bar
                    p.f18 Html
                    div.progress
                        div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%")
                            span.sr-only 80%
                div.skills-bar
                    p.f18 Css
                        div.progress
                            div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%")
                                span.sr-only 80%
                div.skills-bar
                    p.f18 Javascript
                        div.progress
                            div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%")
                                span.sr-only 75%
                div.skills-bar
                    p.f18 jQuery
                        div.progress
                            div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%")
                                span.sr-only 75%
                div.skills-bar
                    p.f18 Node.js
                        div.progress
                            div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%")
                                span.sr-only 40%
                div.skill-bar
                    p.f18 Php
                        div.progress
                            div.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%")
                                span.sr-only 20%
    // 常用框架
    section.use-frame
        div.container
            div.title.text-center
                h2 常用·框架
                p.sub-title The frame I often use
            div.frame-content
                ul.list-unstyled.use-frame-list
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/jquery.jpg" alt="jquery").img-responsive
                            p.text.f18.text-center jQuery
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/bootstrap.jpg" alt="bootstrap").img-responsive
                            p.text.f18.text-center Bootstrap
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/ionic.jpg" alt="ionic").img-responsive
                            p.text.f18.text-center Ionic2
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/angular.jpg" alt="angular").img-responsive
                            p.text.f18.text-center AngularJs
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/xcx.jpg" alt="xcx").img-responsive
                            p.text.f18.text-center 微信小程序
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/adminlte.jpg" alt="adminlte").img-responsive
                            p.text.f18.text-center AdminLTE
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/express.jpg" alt="express").img-responsive
                            p.text.f18.text-center Express
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/learn-more.jpg" alt="learn-more").img-responsive
                            p.text.f18.text-center 没有更多了
    // 兴趣爱好
    section.hobbies
        div.container
            div.title.text-center
                h2 兴趣·爱好
                p.sub-title Hobbies and Interests
            div.hobbies-content
                ul.list-unstyled.hobbies-list
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/music.jpg" alt="听音乐").img-responsive.mr-auto
                            p.text.f18.text-center 听音乐
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/game.jpg" alt="打游戏").img-responsive.mr-auto
                            p.text.f18.text-center 打游戏
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/singing.jpg" alt="K歌").img-responsive.mr-auto
                            p.text.f18.text-center K歌
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/eat.jpg" alt="吃肉").img-responsive.mr-auto
                            p.text.f18.text-center 吃肉
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/belle.jpg" alt="belle").img-responsive.mr-auto
                            p.text.f18.text-center 美女
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/fishing.jpg" alt="钓鱼").img-responsive.mr-auto
                            p.text.f18.text-center 钓鱼
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/tourism.jpg" alt="旅游").img-responsive.mr-auto
                            p.text.f18.text-center 旅游
                    li.col-sm-3
                        a(href="javascript: void(0);")
                            div.img
                                img(src="images/www/reading.jpg" alt="看书").img-responsive.mr-auto
                            p.text.f18.text-center 看书
    // 与我联系
    section.contact-me
        div.container
            div.title.text-center
                h2 与我·联系
                p.sub-title Contact Me
            div.contace-me-content
                div.col-md-1
                div.col-md-5
                    div.myself
                        h4 自我介绍
                        p 本人，资深宅男小前端一枚。长相，高端大气上档次。品味，独特典雅有内涵。文能提笔撸代码，武能下劈一字马。如果你对本人感兴趣，请与我联系，给你一个不一样的人生体验。
                div.col-md-5
                    form.from
                        div.form-group
                            label(for="email") 你的邮箱
                            input(type="email" name="email" id="email" placeholder="请输入你的邮箱").form-control
                        div.form-group
                            label(for="title") 标题
                            input(type="text" name="title" id="title" placeholder="请输入邮件的标题").form-control
                        div.form-group
                            label(for="content") 内容
                            textarea(name="content" id="content" rows="6" placeholder="请输入邮件的内容").form-control
                        div.form-group
                            button.btn.btn-green  发送邮件
                div.col-md-1
    include ../Public/footer