//
   Created by Lenovo on 2018/5/20.
extends ../layout

block content
    include ../Public/header
    section.banner
        img(src="/images/www/banner.jpg" alt="留言板幻灯片").img-responsive
    section.message-info
        div.message-content
            form#info
                if memberInfo
                    input(type="hidden" name="from" value="#{memberInfo._id}")
                textarea.form-control(rows="15", name="content")
                button(type="button" onclick="save('/message/add', '#info')").btn.btn-green.btn-published 发表
    section.message-box
        div.message-content
            h2.message-title 留言（
                span.message-num 201
                |）
            ul.message-list
                p.text-center 暂无留言


        div.message-footer
            div.text-center
                button(type="button").btn.btn-green.btn-more 加载更多
    script.

        // 获取数据并创建html
        getMessageData(function (messages) {
            createMessageListHtml(messages);

        });


        //点击回复
        $("ul.message-list").on("click", ".reply-btn",  function () {
            console.log("666");
            var mid = $(this).attr("data-mid");
            $(this).parents("li").siblings().find(".message-body .reply-textarea").hide();
            $(this).parents(".message-body").find(".reply-textarea").show();
            $(".textarea-" + mid).focus();
        });

        //点击确认回复
        $("ul.message-list").on("click", ".doReply-btn", function () {
            var mid = $(this).attr("data-mid"),
                    uid = $(this).attr("data-uid"),
                    content = $(".textarea-" + mid).val(),
                    from = $("input[name='from']").val();

            if (content === '') {
                return showModal("内容不能为空", 0);
            } else if (from === '') {
                return showModal("请你先登录", 0);
            }

            $.post("/message/add", {
                mid: mid,
                uid: uid,
                content: content,
                from: from
            }, function (res) {
                console.log("res", res);
                if (res.status === 1) {
                    getMessageData(function (messages) {
                        createMessageListHtml(messages);

                    });
                }
            });
        });


        // 获取留言数据
        function getMessageData(cb) {

            $.post("/message/select", {}, function (res) {
                console.log("res", res);
                if (res.status === 1) {
                    typeof cb === 'function' && cb(res.data);
                }
            })
        }



        // 创建html
        function createMessageListHtml(data) {
            console.log("data", data);
            var htmlText = [];
            var index = data.length;

            // 留言条数
            $("span.message-num").text(index);

            // 倒写楼
            for (var i = 0; i < data.length; i++) {
                console.log("from", data[i].reply);
                htmlText.push("<li class='message-item'>");
                htmlText.push("<div class='message-left pull-left'>");
                htmlText.push("<a href='javascript:void(0)')>");
                htmlText.push("<img class='img-circle' src='"+ data[i].from.img +"' style='width: 64px; height: 64px;')>");
                htmlText.push("</a>");
                htmlText.push("</div>");
                htmlText.push("<div class='message-body pull-left'>");
                htmlText.push("<h4 class='message-header'>");
                htmlText.push(data[i].from.name);
                htmlText.push("<span class='pull-right'>");
                htmlText.push("第"+ index-- + "楼");
                htmlText.push("</span>");
                htmlText.push("</h4>");
                htmlText.push("<p class='content-text'>");
                htmlText.push(data[i].content);
                htmlText.push("</p>");
                htmlText.push("<div class='reply'>");
                htmlText.push("<span class='message-time'>");
                htmlText.push(moment(data[i].add_time));
                htmlText.push("</span>");
                htmlText.push("<a href='javascript:void(0);' data-mid='"+ data[i]._id +"' class='reply-btn'>回复</a>");
                if (data[i].reply && data[i].reply.length > 0) {
                    htmlText.push("<div class='line'></div>");
                }
                htmlText.push("</div>");
                htmlText.push("<ol class='reply-list'>");
                if (data[i].reply && data[i].reply.length > 0) {
                    for (var key in data[i].reply) {
                        htmlText.push("<li class='reply-item'>");
                        htmlText.push("<div class='reply-left pull-left'>");
                        htmlText.push("<a href='javascript: void(0)'>");
                        htmlText.push("<img class='img-circle' src='"+ data[i].reply[key].from.img +"' style='width: 48px; height: 48px;')>");
                        htmlText.push("</a>");
                        htmlText.push("</div>");
                        htmlText.push("<div class='reply-body pull-left'>");
                        htmlText.push("<p class='reply-content'>");
                        htmlText.push("<span>");
                        htmlText.push(data[i].reply[key].from.name);
                        htmlText.push("</span>");
                        htmlText.push(data[i].reply[key].content);
                        htmlText.push("</p>");
                        htmlText.push("<p class='message-time'>");
                        htmlText.push(moment(data[i].reply[key].add_time));
                        htmlText.push("</p>");
                        htmlText.push("</div>");
                        htmlText.push("</li>");
                    }
                }
                htmlText.push("</ol>");
                htmlText.push("<div class='reply-textarea col-sm-6'>");
                htmlText.push("<textarea class='form-control textarea-"+ data[i]._id +"'></textarea>");
                htmlText.push("<a href='javascript:void(0);' data-mid='"+ data[i]._id +"' data-uid='"+ data[i].from._id +"' class='btn btn-green btn-xs doReply-btn')>确定</a>");
                htmlText.push("<a href='javascript:void(0);') class='btn btn-default btn-xs'>取消</a>");
                htmlText.push("</div>");
                htmlText.push("</div>");
                htmlText.push("</li>");

            }

            $("ul.message-list").html(htmlText.join(''));
        }

        // 时间日期格式化
        function moment (timer) {
            return `#{moment(timer).format('YYYY-MM-DD hh:mm:ss')}`;
        }

        // 点击加载更多
        $(".btn-more").click(function () {
            showModal("没有更多了", 0);
        });
    include ../Public/footer