//
   Created by Lenovo on 2018/5/27.
extends ../layout

block content
    include ../Public/header
    section.login
        div.main
            div.main-header
                h4.title.text-center
                    a(href="/login") 登录
                    b ·
                    a(href="/register").active 注册
            div.main-body
                form#info
                    div.login-content
                        input(type="hidden" name="img")
                        div.form-group
                            i.glyphicon.glyphicon-user
                            input(type="text" name="name" id="userName" placeholder="手机号或邮箱").form-control
                        div.form-group
                            i.glyphicon.glyphicon-user
                            input(type="password" name="password" id="password" placeholder="密码").form-control
                        div.form-group
                            i.glyphicon.glyphicon-user
                            input(type="password" name="retype_password" id="retype_password" placeholder="确认密码").form-control
                    button(type="button" onclick="register()").btn.login-btn 注册
            div.main-footer
                div.more-sign
                    h6.text-center 其它注册方式
                    ul
                        li
                            a(href="").wechat
                        li
                            a(href="").qq
    script(type="text/javascript").
        function register() {
            if ($("#userName").val() === '') {
                showModal("用户名不能为空！");
                return;
            }
            if ($("#password").val() === '') {
                showModal("密码不能为空！");
                return;
            }
            if ($("#password").val() !== $("#retype_password").val()) {
                showModal("两次输入的密码不一致！");
                return;
            }
            saveForm("/register", "#info", function (res) {
                console.log(res);
                if (res.status === 1) {
                    showModal(res.info, 0, function (){
                        location.href = "/login";
                    });
                } else {
                    showModal(res.info);
                }
            });
        }
