//
   Created by junbangqin on 2018/5/21.
extends ../layout

block content
    include ../Public/header
    section.login
        div.main
            div.main-header
                h4.title 登录
                    b ·
                    |  注册
            div.main-body
                form#info
                    div.login-content
                        div.form-group
                            i.glyphicon.glyphicon-user
                            input(type="text" name="name" placeholder="手机号或邮箱").form-control
                        div.form-group
                            i.glyphicon.glyphicon-user
                            input(type="password" name="password" placeholder="密码").form-control
                    div.remember
                        div.pull-left.remember-btn
                            input(type="checkbox")
                            label   记住我
                        div.pull-right.forget-password
                            a(href='') 忘记密码?
                        div.clearfix
                    button(type="button").btn.login-btn 登录
            div.main-footer
                div.more-sign
                    h6 其它登录方式


