<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="skin-blue sidebar-mini fixed" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
    <div class="box box-info module-box-l">
        <form class="form-horizontal" name="formInfo">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">申请人</label>
                    <div class="col-xs-8 col-sm-10">
                        <input type="text" disabled="" class="form-control" name="real_name" value="秦小小">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">手机号</label>

                    <div class="col-xs-8 col-sm-10">
                        <input type="text" disabled="" class="form-control" name="phone" value="15901841358">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">项目名称</label>

                    <div class="col-xs-8 col-sm-10">
                        <input type="text" disabled="" class="form-control" name="entry_name" value="酒店小程序">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">需求类型</label>

                    <div class="col-xs-8 col-sm-10">
                        <input type="text" disabled="" class="form-control" name="type" value="门店类">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">预算</label>

                    <div class="col-xs-8 col-sm-10">
                        <input type="text" disabled="" class="form-control" name="budget" value="5000-1万">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">申请时间</label>

                    <div class="col-xs-8 col-sm-10">
                        <input type="text" disabled="" class="form-control" name="add_time" value="2018-02-08 15:36:31">
                    </div>
                </div>

            </div>
            <div class="box-footer text-center">
                <button type="button" class="btn btn-info pull-right" onclick="closeIframeModal();">确定</button>
            </div>
        </form>
    </div>
</div>


<div class="wrapper" style="height: auto; min-height: 100%;">
    <div class="box box-info module-box-l">
        <form id="info" name="info" class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label class="control-label col-xs-3 col-sm-2 text-right">金额</label>
                    <div class="col-xs-8 col-sm-10">
                        <input type="text" id="money" name="money" placeholder="请输入金额" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3 col-sm-2 text-right">场景</label>
                    <div class="col-xs-8 col-sm-10">
                        <input type="text" id="scene" name="scene" placeholder="请输入场景" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3 col-sm-2 text-right">支付方式</label>
                    <div class="col-xs-8 col-sm-10">
                        <select id="pay_way" name="pay_way" class="form-control">
                            <option value="现金支付">现金支付</option>
                            <option value="微信支付">微信支付</option>
                            <option value="支付宝支付">支付宝支付</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3 col-sm-2 text-right">使用日期</label>
                    <div class="col-xs-8 col-sm-10">
                        <input type="text" id="add_time" name="add_time" placeholder="请选择使用日期" class="form-control">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-default pull-right">提交</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>