//
   Created by Lenovo on 2018/3/5.

header.main-header
    a.logo(href="/")
        i.fa.fa-bank 后台系统管理
    nav.navbar.navbar-static-top
        div.navbar-custom-menu
            ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href="/admin/logout" onclick="return confirm('确认退出系统?')")
                        i.fa.fa-sign-out  退出登录
                li
                    a(href="#" data-toggle="control-sidebar")
                        i.fa.fa-gears