//
   Created by junbangqin on 2018/6/20.

footer.footer
    div.container
        div.row
            div.col-sm-3
                div.footer-title 常用链接
                ol.list-unstyled.links
                    li
                        a(href="") Bootstrap中文网
                    li
                        a(href="") AngularJs中文网
            div.col-sm-3
                div.footer-title 经典作品
                div.classic
                    div.classic-img
                        img(src="" alt="经典作品")
                    div.classic-img
                        img(src="" alt="经典作品")
                    div.classic-img
                        img(src="" alt="经典作品")
                    div.classic-img
                        img(src="" alt="经典作品")
            div.col-sm-3
                div.footer-title 更多平台
                div.code
                    div.code-img
                        img(src="" alt="小程序二维码")
                        p 小程序
            div.col-sm-3
                div.footer-title 与我联系
                div.contact-me
                    p QQ: 745068358
                    p 微信: abang9527_QJB
                    div.info
                        input(type="text" placeholder="悄悄对我说一句...")
                        button.btn.btn-green.btn-xs 发送消息
    div.copyright  Copyright © 2018 qinjunbang All Rights Reserved
            a(href="") 桂ICP备16005910号-2