//
   Created by junbangqin on 2018/5/18.
header.navbar.navbar-static-top.bs-docs-nav.navbar-white#top
    div.container
        div.navbar-header
            a(href='/').logo.pull-left
                img(src="/images/www/logo.png" alt="logo.img").img-responsive
        nav#bs-navbar.collapse.navbar-collapse
            ul.nav-item.nav.navbar-nav
                li
                    a(href='/') 首页
                li
                    a(href='/about') 自我介绍
                li
                    a(href='/articleList') 文章列表
                li
                    a(href='/works') 作品展示
                li
                    a(href='/message') 留言
            if !memberInfo
                a(href='/login').btn.btn-green.navbar-btn.pull-right.login-btn 登录
                a(href='/register').btn.btn-green.navbar-btn.pull-right.register-btn 注册
            else
                div.user-head.pull-right.dropdown
                    a(href='javascript:;').head-avatar.pull-left
                        img(src="/images/www/head.jpg" alt="头像").img-responsive.pull-left
                    span.user-name.pull-left    #{memberInfo.name}
                    span.triangle.pull-left
                    ul.dropdown-menu
                        li
                            a(href="/") 个人中心
                        li
                            a(href="/logout") 退出
